<h1>Record Screen</h1>
<button type = "submit", id = "start_btn" >Start</button>
<button type = "submit", id = "stop_btn" >Stop</button>
<button type = "submit", id = "save_btn" >Save</button>

<%= javascript_pack_tag 'recording' %>